<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email non invitata</title>
    <link rel="stylesheet" href="/css/xstyles.css">
</head>
<body>
    <div class="response-container">
        <h2>Ci dispiace, ma l'indirizzo <%= email %> non è stato invitato.</h2>
        <p>Se ritieni ci sia stato un errore, ti preghiamo di contattare il nostro supporto.</p>
    </div>
</body>
</html>
