<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina con Pulsanti</title>
    <link rel="stylesheet" href="/css/xstyles.css">
</head>
<body>
    <div class="container">
        <h1>uniSR</h1>
        <div class="button-container">
            <form action="/openday" method="GET">
                <button type="submit" class="button">Register</button>
            </form>
            <form action="/map" method="GET">
                <button type="submit" class="button">Campus Map</button>
            </form>
            <form action="/timetable" method="GET">
                <button type="submit" class="button">Time Table</button>
            </form>
        </div>
        <footer>
        
        </footer>
    </div>
</body>
</html>
